# 1. BO

## Objectif:
- Prédire le nombre de locations de vélos par heure en fonction de facteurs environnementaux et saisonniers.

- Réduire le temps d'attente des utilisateurs qui cherchent à louer un vélo ou à retourner un vélo dans une station pleine.

- Minimiser les coûts associés au déplacement des vélos entre les stations et à la maintenance.

- Lors d'événements spéciaux ou de jours fériés, la demande de vélos peut varier de manière imprévisible.

//Nhesnou fi el BO w
COLONE
DATA null
Signification de chaque colume
# 2. Phase de Compréhension des Données

## Objectifs :
1. Analyser la taille de l'ensemble de données (nombre de lignes et de colonnes).
2. 
3. Identifier les types de données des colonnes.
4. Supprimer les doublons dans l'ensemble de données.

## Actions :
- Utiliser `data.shape` pour obtenir le nombre de lignes et de colonnes.
- Examiner la signification de chaque colonne.
- Vérifier les types de données de chaque colonne avec `data.dtypes`.
- Rechercher et supprimer les lignes dupliquées dans l'ensemble de données.

# Importation du biblio pandas et chargement du fichier CSV

In [20]:
#%pip install pandas
import pandas as pd
file_path = '/Data/datahour.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe

In [21]:
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1.0,2011-01-01,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0,3.0,13.0,16.0
1,2.0,2011-01-01,1.0,0.0,1.0,1.0,0.0,6.0,NaN,1.0,0.22,0.2727,0.80,0.0,8.0,32.0,40.0
2,3.0,2011-01-01,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0,5.0,27.0,32.0
3,4.0,2011-01-01,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,3.0,10.0,13.0
4,5.0,2011-01-01,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,0.0,1.0,1.0


Analyser la taille de l'ensemble de données (nombre de lignes et de colonnes).

In [8]:
print("Nombre de lignes et de colonnes : ", data.shape)

Nombre de lignes et de colonnes :  (17484, 17)

# Comprendre la signification de chaque colonne:

In [9]:
print("\nColonnes :\n", data.columns)
print("\nNombre de colonnes : ", len(data.columns))

Colonnes :
 Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

Nombre de colonnes :  17

# Affichier les types de données de chaque colonne

In [10]:
print("\nInformations sur les données :\n")
data.info()

Informations sur les données :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17484 entries, 0 to 17483
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17131 non-null  float64
 1   dteday      17108 non-null  object
 2   season      17103 non-null  float64
 3   yr          17141 non-null  float64
 4   mnth        17151 non-null  float64
 5   hr          17120 non-null  float64
 6   holiday     17126 non-null  float64
 7   weekday     17130 non-null  float64
 8   workingday  17139 non-null  float64
 9   weathersit  17130 non-null  float64
 10  temp        17152 non-null  float64
 11  atemp       17118 non-null  float64
 12  hum         17169 non-null  float64
 13  windspeed   17146 non-null  float64
 14  casual      17127 non-null  float64
 15  registered  17168 non-null  float64
 16  cnt         17129 non-null  float64
dtypes: float64(16), object(1)
memory usage: 2.3+ MB

# Afficage des statistiques descriptives

In [11]:
print("\nStatistiques descriptives :\n", data.describe())

Statistiques descriptives :
             instant        season            yr          mnth            hr  \
count  17131.000000  17103.000000  17141.000000  17151.000000  17120.000000
mean    8678.806666      2.504239      0.502596      6.540493     11.555315
std     5013.504186      1.106255      0.500008      3.438079      6.922491
min        1.000000      1.000000      0.000000      1.000000      0.000000
25%     4342.500000      2.000000      0.000000      4.000000      6.000000
50%     8664.000000      3.000000      1.000000      7.000000     12.000000
75%    13024.500000      3.000000      1.000000     10.000000     18.000000
max    17379.000000      4.000000      1.000000     12.000000     23.000000

            holiday       weekday    workingday    weathersit          temp  \
count  17126.000000  17130.000000  17139.000000  17130.000000  17152.000000
mean       0.028903      3.000817      0.683237      1.425803      0.497385
std        0.167540      2.006237      0.465228      0.639642      0.192669
min        0.000000      0.000000      0.000000      1.000000      0.020000
25%        0.000000      1.000000      0.000000      1.000000      0.340000
50%        0.000000      3.000000      1.000000      1.000000      0.500000
75%        0.000000      5.000000      1.000000      2.000000      0.660000
max        1.000000      6.000000      1.000000      4.000000      1.000000

              atemp           hum     windspeed        casual    registered  \
count  17118.000000  17169.000000  17146.000000  17127.000000  17168.000000
mean       0.476085      0.626772      0.190063     35.624394    153.424569
std        0.171818      0.192674      0.122163     49.201808    150.831175
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.333300      0.480000      0.104500      4.000000     34.000000
50%        0.484800      0.630000      0.194000     17.000000    115.000000
75%        0.621200      0.780000      0.253700     48.000000    220.000000
max        1.000000      1.000000      0.850700    367.000000    886.000000

                cnt
count  17129.000000
mean     189.441065
std      181.268088
min        1.000000
25%       40.000000
50%      142.000000
75%      281.000000
max      977.000000

# Affichier valeur minimale, maximale et moyenne des statistiques descriptives

In [12]:

print("\nValeur minimale :\n", data.describe().min())
print("\nValeur maximale :\n", data.describe().max())
print("\nValeur moyenne :\n", data.describe().mean())

Valeur minimale :
 instant       1.000000
season        1.000000
yr            0.000000
mnth          1.000000
hr            0.000000
holiday       0.000000
weekday       0.000000
workingday    0.000000
weathersit    0.639642
temp          0.020000
atemp         0.000000
hum           0.000000
windspeed     0.000000
casual        0.000000
registered    0.000000
cnt           1.000000
dtype: float64

Valeur maximale :
 instant       17379.0
season        17103.0
yr            17141.0
mnth          17151.0
hr            17120.0
holiday       17126.0
weekday       17130.0
workingday    17139.0
weathersit    17130.0
temp          17152.0
atemp         17118.0
hum           17169.0
windspeed     17146.0
casual        17127.0
registered    17168.0
cnt           17129.0
dtype: float64

Valeur moyenne :
 instant       9279.288857
season        2139.951312
yr            2143.125325
mnth          2149.372322
hr            2149.684726
holiday       2140.899555
weekday       2143.750882
workingday    2142.893558
weathersit    2142.633181
temp          2144.401257
atemp         2140.135900
hum           2146.588681
windspeed     2143.464391
casual        2205.978275
registered    2340.906968
cnt           2367.588644
dtype: float64

# Supprimer les doublons

In [14]:
duplicatedDataCount=data.duplicated().sum()
data_cleaned = data.drop_duplicates()
print("Nombre de doublons supprimer : ", duplicatedDataCount)

Nombre de doublons supprimer :  105

# Vérifier les valeurs manquantes

In [15]:
print("\nSomme des valeurs manquantes par colonne :\n", data.isnull().sum())

Somme des valeurs manquantes par colonne :
 instant       353
dteday        376
season        381
yr            343
mnth          333
hr            364
holiday       358
weekday       354
workingday    345
weathersit    354
temp          332
atemp         366
hum           315
windspeed     338
casual        357
registered    316
cnt           355
dtype: int64

# Afficher les premières lignes des données nettoyées

In [17]:
data_cleaned.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1.0,2011-01-01,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0,3.0,13.0,16.0
1,2.0,2011-01-01,1.0,0.0,1.0,1.0,0.0,6.0,NaN,1.0,0.22,0.2727,0.80,0.0,8.0,32.0,40.0
2,3.0,2011-01-01,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0,5.0,27.0,32.0
3,4.0,2011-01-01,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,3.0,10.0,13.0
4,5.0,2011-01-01,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0,0.0,1.0,1.0

# Description des Variables du Dataset Bike Sharing

| **Nom de la variable** | **Description** |
|------------------------|-----------------|
| **Instant**            | Identificateur unique pour chaque enregistrement. |
| **dteday**             | Date précise de la location des vélos. |
| **season**             | Saison de l'année, codée de 1 à 4 (1: printemps, 2: été, 3: automne, 4: hiver). |
| **yr**                 | Année (0 pour 2011, 1 pour 2012). |
| **mnth**               | Mois de l'année (1 à 12). |
| **hr**                 | Heure de la journée (0 à 23). |
| **holiday**            | Indique si le jour est un jour férié (0 : non, 1 : oui). |
| **weekday**            | Jour de la semaine (0 pour dimanche, 6 pour samedi). |
| **workingday**         | Indique si le jour est un jour ouvrable (ni week-end, ni jour férié). |
| **weathersit**         | Situation météorologique : <br> 1: Clair, partiellement nuageux <br> 2: Brume + nuages <br> 3: Pluie légère, neige légère <br> 4: Fortes précipitations. |
| **temp**               | Température normalisée (valeurs divisées par 41°C, max possible). |
| **atemp**              | Température ressentie normalisée (valeurs divisées par 50°C, max possible). |
| **hum**                | Humidité relative normalisée (valeurs divisées par 100, max possible). |
| **windspeed**          | Vitesse du vent normalisée (valeurs divisées par 67, max possible). |
| **casual**             | Nombre de locations par des utilisateurs occasionnels. |
| **registered**         | Nombre de locations par des utilisateurs enregistrés. |
| **cnt**                | Nombre total de vélos loués (inclus utilisateurs occasionnels et enregistrés). |

# Preparation des données